@import url(reset.css);
@import url(style-slider.css);
@import url(https://fonts.googleapis.com/css?family=Pangolin&subset=cyrillic-ext);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
*{
	box-sizing:border-box;
}
html {
	font: 10px 'Pangolin', sans-serif, cursive;
	}
body{
	width: 100%;
	height: 100%;
	font: 10px 'Pangolin', sans-serif, cursive;
	color: #000000;

	background: rgba(116, 255, 198, 0.38);
}
.wrapper{
	width: 100%;
	height: 100%;
	background-image: url(../img/leafe16496371.gif);
}
body .wrapper a:hover{
	color: #ffffff;
}
header{
    position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #ffffff;
	z-index: 5;
	min-height: 24vh;
}
header .tel-navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: rgba(116, 255, 198, 0.82);
	padding: 5px 5%;
	align-items: center;
}
header .tel-navigation a, .address-box .address, .address-box .address a {
    font: 1.1vw 'Pangolin', sans-serif;
    color: #000000;
    padding: 5px 10px;
}
header .tel-navigation .tel-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 45%;
}
header .tel-navigation .tel-list{
	color: #000000;
}
header .fa{
	font-size: 1.2vw;
}
header .logo-navigation{
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: rgba(116, 255, 198, 0.38);
	border-bottom: 3px solid rgba(116, 255, 198, 0.82);
	padding: 5px 5%;
}
header .logo-navigation .logo-img {
	background-image: url(../img/Logo.png);
	width: 120px;
	height: 120px;
    background-position: center;
    background-size: cover;
}
.logo-navigation .navigation-menu{
	width: 70vw;
}
.logo-navigation .drop-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	font: 2vw 'Pangolin', sans-serif;
	color: #000000;
	padding-bottom: 7px;
}
.logo-navigation .drop-list a{
	color: #000000;
	font: 2.1vw 'Pangolin', sans-serif;
}

.slider-box{
	display: block;
	margin-top: 25vh;
	position: relative;
	width: 100%;
	height: 81vh;
}



.navigation-menu li {
	display: block;
	transition-duration: 0.5s;
}
.navigation-menu li:hover {
	cursor: pointer;
	background: rgba(116, 255, 198, 0.82);
}
.navigation-menu ul li{
	position: relative;
}
.navigation-menu ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	left: 0;
	display: none;
	width: 20vw;
	background: rgba(116, 255, 198, 0.82);
}
.navigation-menu ul li:hover > ul,
.navigation-menu ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}
ul li ul li {
	clear: both;
	width: 100%;
}



.main-box-wrapper{
	position: relative;
	width: 100vw;
	height: 97vh;
	color: #000000;
	font: 2.5vh 'Pangolin', sans-serif;
}
.main-box-wrapper .main-box p{
	padding: 3vh 3vw;
}


.main-box-wrapper .main-box{
	position: relative;
	width: 100vw;
	height: 97vh;
}



 .main-box .about-us{
	position: absolute;
	top: 0;
	left: 0;
	width: 55vw;
	height: 34vh;
	 background: rgba(157, 255, 208, 0.75);
	 box-shadow: 12px 12px 10px rgb(214, 214, 214);
	border-radius: 2%;
}


 .main-box .our-philosophy{
	position: absolute;
	top: 5vh;
	right: 14px;
	width: 41vw;
	height: 33vh;
	 background: rgba(157, 255, 208, 0.75);
	 box-shadow: 12px 12px 10px rgb(214, 214, 214);
	border-radius: 2%;
}


.main-box .reviews{
	position: absolute;
	bottom: 0;
	left: 5vh;
	width: 40vw;
	height: 55vh;
	background: rgba(157, 255, 208, 0.75);
	box-shadow: 12px 12px 10px rgb(214, 214, 214);
	border-radius: 2%;
}

.video-box{
	position: absolute;
	bottom: 4vh;
	right: 5vw;
	width: 48vw;
	height: 52vh;
	background: rgba(157, 255, 208, 0.75);
	box-shadow: 12px 12px 10px rgb(214, 214, 214);
	border-radius: 2%;

}
.video-box div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 40vh;
}
.video-box div div{
	width: 50%;
	height: 45vh;
	padding: 5px 5px;
}
h2, h3{
	text-align: center;
	font: 2.5vh 'Pangolin', sans-serif;
	padding: 5px 5px;
}
/*
map and address
*/
.address-box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.wrapper .address-box .map-box {
	display: inline-block;
	width: 50vw;
	height: 50vh;
	padding: 15px 15px;

}
.wrapper .address-box .address{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 48vw;
	padding: 15px 15px;
}
.address-box .address ul li{
	padding: 5px 5px;
}
footer{
	position: relative;
	height: 65px;
	width: 100%;
	background: #484242;
	border-top: 1px solid #7B7777;
	border-bottom: 1px solid #7B7777;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

/*media*/
@media all and (max-width:749px){

	header .tel-navigation{
		display: block;
	}
	header .tel-navigation a{
		font: 1.9vw 'Pangolin', sans-serif;
		display: inline-block;
	}
	.address-box .address ul li, .address-box .address a{
		font: 3vw 'Pangolin', sans-serif;
	}
	.wrapper .fa{
		font-size: 3vw;
		padding-right: 0;
	}
	.wrapper .fa-instagram .fa-facebook{
		font-size: 4.5vw;
	}
	header .logo-navigation .navigation-menu{
		width: 0;
	}
	.logo-navigation .navigation-menu .drop-list{
		display: block;
		position: absolute;
		top: 101%;
		right: 0;
		text-align: center;
		list-style: none;
		width: 100%;
		height: 300%;
		background: rgba(116, 255, 198, 0.750);
	}
	.logo-navigation .drop-list a{
		font: 4vw 'Pangolin', sans-serif;
		font-weight: bold;
	}
	.logo-navigation .navigation-menu .drop-list li{
		margin-top: 17px ;
		overflow: hidden;
	}
	.navigation-menu .drop-list li ul{
		text-align: center;
		width: 100%;
		position: relative;
		background: rgba(255, 255, 255, 0.25);
	}
	.navigation-menu .drop-list ul li a{
		background: rgba(255, 255, 255, 0.25);
		font: 2.9vw 'Pangolin', sans-serif;
	}
	/*.logo-navigation li a{
		display: inline-block;
		font: 22px 'Pangolin', sans-serif;
		color: #B7B7B7;
		text-decoration: none;
		padding-top: 10px;
	}*/
	.hidden {
		display: none;
	}

	.wrapper .main-box-wrapper{
		height: auto;
	}
	.wrapper .main-box-wrapper .main-box{
		height: auto;
	}
	.main-box-wrapper .main-box .about-us {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		margin-bottom: 5px;
	}
	.main-box-wrapper .main-box .our-philosophy {
		display: block;
		position: relative;
		width: 100%;
		top: 0;
		right: 0;
		height: auto;
		margin-bottom: 5px;

	}
	.main-box .reviews {
		display: block;
		position: relative;
		width: 100%;
		left: 0;
		height: auto;
		margin-bottom: 5px;
	}

	.video-box{
		display: block;
		position: relative;
		width: 100%;
		bottom: 0;
		right: 0;
		height: 87vh;
		margin-bottom: 5px;


	}
	.video-box div, .video-box div div{
		width: 100%;
		height:40vh;
		padding: auto;
	}


	.wrapper .address-box .map-box {

		width: 100vw;

	}
	.wrapper .address-box .address{

		width: 100vw;

	}
/*button transform*/

	.btn-mob {
		display: inline-block;
		width: 50px;
		height: 50px;
		background: rgba(116, 255, 198, 0.82);
		border-radius: 20%;
		position: relative;
	}
	.btn-mob span,
	.btn-mob span::before,
	.btn-mob span::after {
		position: absolute;
		top: 50%; margin-top: -1px;
		left: 50%; margin-left: -10px;
		width: 20px;
		height: 2px;
		background-color: #ffffff;
	}
	.btn-mob span::before,
	.btn-mob span::after {
		content: '';
		display: block;
		transition: 0.2s;
	}
	.btn-mob span::before {
		transform: translateY(-5px);
	}
	.btn-mob span::after {
		transform: translateY(5px);
	}
	.btn-mob_active span {
		height: 0;
	}
	.btn-mob_active span:before {
		transform: rotate(45deg);
	}
	.btn-mob_active span:after {
		transform: rotate(-45deg);
	}
	/*button transform*/
}
/*media*/