@import url(reset.css);
@import url(style-slider.css);
@import url(https://fonts.googleapis.com/css?family=Pangolin&subset=cyrillic-ext);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
* {
	box-sizing:border-box;
}
body {
	width: 100%;
	height: 100%;
	font: calc(1vw + 1vh + .5vmin) 'Pangolin', sans-serif, cursive;
	color: #000000;
	background: rgba(116, 255, 198, 0.38);
}
.wrapper {
	width: 100%;
	height: 100%;
	background-image: url(../img/leafe1649637771.gif);
}
body a {
    color: #000000;
}
body a:hover {
	color: #ffffff;
}
header {
    position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #ffffff;
	z-index: 5;
	min-height: 19%;
}
header .tel-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: rgba(116, 255, 198, 0.82);
	padding: 5px 5%;
	align-items: center;
}
header .tel-navigation a, .address, .address a {
    font: 1rem 'Pangolin', sans-serif;
    color: #000000;
    padding: 5px 10px;
}
header .tel-navigation .tel-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 45%;
	color: #000000;
}
header .fa {
	font-size: 1rem;
}
header .logo-navigation {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: rgba(116, 255, 198, 0.38);
	border-bottom: 3px solid rgba(116, 255, 198, 0.82);
	padding: 5px 5%;
	background-image: url(../img/leafe1649637771.gif);
}
header .logo-navigation .logo-img {
	background-image: url(../img/Logo.png);
	width: 120px;
	height: 120px;
    background-position: center;
    background-size: cover;
}
.logo-navigation .navigation-menu {
	width: 70vw;
}
.logo-navigation .drop-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	font: 1rem 'Pangolin', sans-serif;
	color: #000000;
	padding-bottom: 7px;
}
.logo-navigation .drop-list a {
	color: #000000;
	font: 1.5rem 'Pangolin', sans-serif;

}
.logo-navigation .drop-list .direction:after {
	color: #000000;
	font: 1.5rem 'Pangolin', sans-serif;
	height: 0;
	width: 0;
	border-width: 8px 5px 0;
	border-style: solid;
	border-color: #13dad0 transparent transparent transparent;
	font-size: 0;
	line-height: 0;
	content: '';
	margin-left: 7px;
	position: relative;
	top: -1px;
}
.logo-navigation .drop-list .direction {
	margin-left: 12px;
}
.navigation-menu li {
	display: block;
	transition-duration: 0.5s;
}
.navigation-menu li:hover {
	cursor: pointer;
	background: rgba(116, 255, 198, 0.82);
    transition: all 0.2s ease;
}
.navigation-menu ul li {
	position: relative;
}
.navigation-menu ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.4s ease;
	left: 40px;
	width: 20vw;
	background: rgba(116, 255, 198, 0.91);
}
.navigation-menu ul li:hover > ul,
.navigation-menu ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
	left: 0;
}
ul li ul li {
	padding: 3px 6px;
	clear: both;
	width: 100%;
}
.slider-box {
	display: block;
	margin-top: 25vh;
	position: relative;
	width: 100%;
	height: 81vh;
}
.slider-box .sale {
    background-image: url(../img/436832_small6.jpg);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20%;
    height: 35%;
    top: 11%;
    left: 5%;
    background-position: 50% 50%;
}
.main-content-wrapper {
    position: relative;
	width: 100vw;
	color: #000000;
	font: 1rem 'Pangolin', sans-serif;
}
.main-content-wrapper .top-content-box p {
	padding: 3vh 3vw;
}
.top-content-box, .bottom-content-box {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 100vw;
	margin-bottom: 1%;
	margin-top: 1%;
}
.about-us {
	align-self: flex-start;
	width: 55vw;
	background: rgba(157, 255, 208, 0.75);
	box-shadow: 12px 12px 10px rgb(214, 214, 214);
	border-radius: 2%;
	margin-left: 2%;
}
.our-philosophy {
	align-self: flex-end;
	width: 41vw;
	background: rgba(255, 255, 255, 0.54);
	box-shadow: 12px 12px 10px rgb(214, 214, 214);
	border-radius: 2%;
	border: 5px solid rgba(157, 255, 208, 0.55);
}
.reviews {
	width: 40vw;
	background: rgba(157, 255, 208, 0.36);
	box-shadow: 12px 12px 10px rgb(214, 214, 214);
	padding: 5px 18px;
	overflow-y: scroll;
	height: 53vh;
}
.reviews .disqus_thread{

}
.video-box{
	width: 48vw;
	background: rgba(157, 255, 208, 0.75);
	box-shadow: 12px 12px 10px rgb(214, 214, 214);
	border-radius: 2%;
	margin-right: 4%;
}
.video-box div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 40vh;
}
.video-box div div {
	width: 50%;
	padding: 5px 5px;
}
h2, h3 {
	text-align: center;
	font: 1rem 'Pangolin', sans-serif;
	padding: 5px 5px;
}
/*
map and address
*/
.address-box-wrapper {
	display: block;
    position: relative;
    height: auto;
}
.address-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.address-box .map-box {
	display: inline-block;
	width: 50vw;
	height: 50vh;
	margin: 15px 0;
	border: 5px solid rgba(157, 255, 208, 0.55);
}
.address-box .address {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 48vw;
	margin: 15px 0;
}
.address-box .address form {
    display:flex;
    flex-direction: column;
}
.address form input{
    border: 2px solid rgba(116, 255, 198, 0.82);
    background: rgba(255, 255, 255, 0.54);
    margin: 3px 3px;
    width: 150px;
}
.address-box .address .btn-address {
    background-color: rgba(157, 255, 208, 0.55);
}
.address ul li {
	padding: 5px 5px;
}
footer {
	position: relative;
	height: 65px;
	width: 100%;
	background: #484242;
	border-top: 1px solid #7B7777;
	border-bottom: 1px solid #7B7777;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
/*media*/
@media all and (max-width:1100px) {
	.logo-navigation .drop-list a {
		font: 1.2rem 'Pangolin', sans-serif;
		font-weight: bold;
	}
}
@media all and (max-width:900px) {

    header .tel-navigation .tel-list {
        display: block;
    }
	.wrapper .fa {
		font-size: .8rem;
		padding-right: 0;
	}
	.wrapper .fa-instagram, .wrapper .fa-facebook {
		font-size: 1.3rem;
	}
	header .logo-navigation .navigation-menu {
		width: 0;
	}
	header .logo-navigation .logo-img {
		background-image: url(../img/Logo.png);
		width: 80px;
		height: 80px;
	}
	.logo-navigation .navigation-menu .drop-list {
		display: block;
		position: absolute;
		top: 101%;
		right: 0;
		text-align: center;
		list-style: none;
		width: 100%;
		height: 100vh;
		background: rgba(116, 255, 198, 0.750);
	}
	.logo-navigation .navigation-menu .drop-list li {
		margin-top: 17px ;
		overflow: hidden;
	}
	.navigation-menu .drop-list li ul {
		display: none;
		text-align: center;
		width: 100%;
		position: relative;
		background: rgba(255, 255, 255, 0.25);
	}
	.navigation-menu .drop-list ul li a {
		font-size: 1rem;
	}
	.hidden {
		display: none;
	}
	.top-content-box, .bottom-content-box {
		flex-direction: column;
		margin: 0;
        height: auto;
	}
	.wrapper .main-content-wrapper {
		height: auto;
	}
	.about-us, .our-philosophy, .reviews, .video-box {
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		margin: 10px 0;
	}
	.wrapper .address-box .map-box {
		width: 100vw;
        }
	.wrapper .address-box .address {
		font: .7rem 'Pangolin', sans-serif;
		width: 100vw;
        height: auto;
        position: relative;
	}
/*button transform*/
	.btn-mob {
		display: inline-block;
		width: 50px;
		height: 50px;
		background: rgba(116, 255, 198, 0.82);
		border-radius: 20%;
		position: relative;
	}
	.btn-mob span,
	.btn-mob span::before,
	.btn-mob span::after {
		position: absolute;
		top: 50%; margin-top: -1px;
		left: 50%; margin-left: -10px;
		width: 20px;
		height: 2px;
		background-color: #ffffff;
	}
	.btn-mob span::before,
	.btn-mob span::after {
		content: '';
		display: block;
		transition: 0.2s;
	}
	.btn-mob span::before {
		transform: translateY(-5px);
	}
	.btn-mob span::after {
		transform: translateY(5px);
	}
	.btn-mob_active span {
		height: 0;
	}
	.btn-mob_active span:before {
		transform: rotate(45deg);
	}
	.btn-mob_active span:after {
		transform: rotate(-45deg);
	}
	/*slider*/
	.wrapper .slider-box .nav-slider {
		display: none;
	}
	.swiper-container {
		width: 100%;
        height: 50vh;
        background-size: contain;
	}
    .slider-box {
        margin-top:25vh;
        height: 20vh;
    }
    .address form input{
        width: 110px;
    }
}
@media all and (max-width:400px) {
	.video-box div, .video-box div div{
		width: 100%;
		height:auto;
		padding: auto;
	}
}