@import url(reset.css);
@import url(style-slider.css);
@import url(https://fonts.googleapis.com/css?family=Pangolin&subset=cyrillic-ext);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
*{
	box-sizing:border-box;
}
html {
	font: 10px 'Pangolin', sans-serif, cursive;
	}
body{
	width: 100%;
	height: 100%;
	font: 10px 'Pangolin', sans-serif, cursive;
	color: #8b8b8b;
	background: #FFFFFF;
}
.wrapper{
	width: 100%;
	height: 100%;
}
header{
    position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #ffffff;
	z-index: 5;
	min-height: 26vh;
}
header .tel-navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: rgba(116, 255, 198, 0.82);
	padding: 5px 5%;
}
header .tel-navigation a{
    font: 1.1vw 'Pangolin', sans-serif;
    color: #000000;
    padding: 0 10px;
}
header .tel-navigation .tel-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60%;
}
header .tel-navigation .tel-list{
	color: #000000;
}
.fa{ font-size: 1.5vw;
    padding-right: 10px;
}


header .logo-navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: rgba(116, 255, 198, 0.38);
	border-bottom: 3px solid rgba(116, 255, 198, 0.82);
	padding: 5px 5%;
}
header .logo-navigation .logo-img {
	background-image: url(../img/Logo.png);
	width: 120px;
	height: 120px;
    background-position: center;
    background-size: cover;
}
header .logo-navigation .navigation-menu{
	width: 80%;
}
header .logo-navigation .drop-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	font: 2vw 'Pangolin', sans-serif;
	color: #000000;

	padding-bottom: 7px;
}
.logo-navigation .drop-list a{
	color: #000000;
}
.logo-navigation .drop-list a:hover{
	color: #ffffff;
}
.slider-box{
	margin-top: 27vh;
}



.navigation-menu li {
	display: block;
	transition-duration: 0.5s;
}
.navigation-menu li:hover {
	cursor: pointer;
	background: rgba(116, 255, 198, 0.82);
}
.navigation-menu ul li{
	position: relative;
}
.navigation-menu ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	left: 0;
	display: none;
	width: 20vw;
	background: rgba(116, 255, 198, 0.82);
}
.navigation-menu ul li:hover > ul,
.navigation-menu ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}
ul li ul li {
	clear: both;
	width: 100%;
}



/*
.logo-navigation .btn-mob{
	width: 60px;
	height: 56px;
	background-color: rgb(19, 33, 255);
	display: none;
}
*/


/*start btn mob*/



/* end btn mob*/






.bottom-box{
	min-height: 285px;
}
.bottom-box h3{
	text-align: center;
	font: 23px 'Pangolin', sans-serif;
	color: #8b8b8b;
	margin: 30px 0 30px 0;
}
.bottom-box nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	Justify-content: space-around;
}
.bottom-box nav li{
	padding: 5px 5px;
}
.bottom-box nav li a{
	font: 15px 'Pangolin', sans-serif;
	color: #B7B7B7;
	text-decoration: none;
}
footer{
	height: 65px;
	width: 100%;
	background: #484242;
	border-top: 1px solid #7B7777;
	border-bottom: 1px solid #7B7777;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
footer h4{
	font: 18px 'Pangolin', sans-serif;
	color: #ffffff;
}


/*media*/
@media all and (max-width:749px) {
	/*.logo-navigation .btn-mob{
		display: inline-block;
	}*/

	/*header .navigation-menu {
		display: none;
	}*/
	.logo-navigation .navigation-menu .drop-list{
		display: block;
		position: absolute;
		top: 166px;
		right: 0;
		text-align: center;
		/*padding: 10px 10px;*/
		/*margin: 170px;*/
		list-style: none;
		font-size: 18px;
		width: 100%;
		height: 300%;
		background: rgba(116, 255, 198, 0.650);
		/*width: 50%;*/
	}
	.logo-navigation .navigation-menu .drop-list li{
		margin-top: 17px ;
	}
	.navigation-menu .drop-list li ul{
		text-align: center;
		width: 100%;
		position: relative;
		background: rgba(255, 255, 255, 0.25);
	}
	.navigation-menu .drop-list li ul li{
		background: rgba(255, 255, 255, 0.25);
	}
	/*.logo-navigation li a{
		display: inline-block;
		font: 22px 'Pangolin', sans-serif;
		color: #B7B7B7;
		text-decoration: none;
		padding-top: 10px;
	}*/
	.hidden {
		display: none;
	}
/*button transform*/
	.btn-mob {
		display: block;
		width: 50px;
		height: 50px;
		background: rgba(116, 255, 198, 0.82);
		border-radius: 20%;
		position: relative;
	}
	.btn-mob span,
	.btn-mob span::before,
	.btn-mob span::after {
		position: absolute;
		top: 50%; margin-top: -1px;
		left: 50%; margin-left: -10px;
		width: 20px;
		height: 2px;
		background-color: #ffffff;
	}
	.btn-mob span::before,
	.btn-mob span::after {
		content: '';
		display: block;
		transition: 0.2s;
	}
	.btn-mob span::before {
		transform: translateY(-5px);
	}
	.btn-mob span::after {
		transform: translateY(5px);
	}
	.btn-mob_active span {
		height: 0;
	}
	.btn-mob_active span:before {
		transform: rotate(45deg);
	}
	.btn-mob_active span:after {
		transform: rotate(-45deg);
	}
	/*button transform*/
}
/*media*/