@import url(reset.css);
@import url(style-slider.css);
@import url(https://fonts.googleapis.com/css?family=Pangolin&subset=cyrillic-ext);
*{
	box-sizing:border-box;
}
html {
	font: 10px 'Pangolin', sans-serif, cursive;
	}
body{
	width: 100%;
	height: 100%;
	font: 10px 'Pangolin', sans-serif, cursive;
	color: #8b8b8b;
	background: #FFFFFF;
}
.wrapper{
	width: 100%;
	height: 100%;
}
header{
    position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: #ffffff;
	z-index: 5;
	min-height: 26vh;
}
header .tel-navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font: 1.2rem 'Pangolin', sans-serif;
	background: rgba(116, 255, 198, 0.82);
	color: #000000;
	padding: 5px 5%;
}
header .tel-navigation .tel-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40%;
}
.tel-navigation .tel-list a{
	color: #000000;
}
header .logo-navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: rgba(116, 255, 198, 0.38);
	border-bottom: 3px solid rgba(116, 255, 198, 0.82);
	padding: 5px 5%;
}
header .logo-navigation .logo-img {
	background-image: url(../img/Logo.png);
	width: 120px;
	height: 120px;
    background-position: center;
    background-size: cover;
}
header .logo-navigation .navigation-menu{
	width: 80%;
}
header .logo-navigation .drop-list{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	font: 2.5rem 'Pangolin', sans-serif;
	color: #000000;

	padding-bottom: 7px;
}
.logo-navigation .drop-list a{
	color: #000000;
}
.logo-navigation .drop-list a:hover{
	color: #ffffff;
}



.navigation-menu li {
	display: block;
	transition-duration: 0.5s;
}
.navigation-menu li:hover {
	cursor: pointer;
	background: rgba(116, 255, 198, 0.82);
}
.navigation-menu ul li{
	position: relative;
}
.navigation-menu ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.5s ease;
	left: 0;
	display: none;
	width: 20vw;
	background: rgba(116, 255, 198, 0.82);
}
.navigation-menu ul li:hover > ul,
.navigation-menu ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

ul li ul li {
	clear: both;
	width: 100%;
}








header .logo-navigation .mob-nav{
	display: none;
	margin-right: 125px;
	font: 27px 'Pangolin', sans-serif;
	color: #ffffff;
}
.logo-navigation .mob-nav .btn-mob{
	background-image: url(../img/Untitled-3-Recovered.png);
	background-position: 1px -95px;
	width: 60px;
	height: 56px;
	background-color: rgba(255, 255, 255, 0.300);
	border: none;
}
.logo-navigation .mob-nav .drop-list-mob{
	display: block;
	padding: 0;
    margin: 0;
    list-style: none;
    font-size: 18px;
    position: absolute;
	top: 55px;
	right: 16px;
}
.logo-navigation .mob-nav li a{
	display: inline-block;
	font: 22px 'Pangolin', sans-serif;
	color: #B7B7B7;
	text-decoration: none;
	padding-top: 10px;
}
.hidden{
	 display: none;
}

.ddd{

	margin-top: 27vh;
}






.bottom-box{
	min-height: 285px;
}
.bottom-box h3{
	text-align: center;
	font: 23px 'Pangolin', sans-serif;
	color: #8b8b8b;
	margin: 30px 0 30px 0;
}
.bottom-box nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	Justify-content: space-around;
}
.bottom-box nav li{
	padding: 5px 5px;
}
.bottom-box nav li a{
	font: 15px 'Pangolin', sans-serif;
	color: #B7B7B7;
	text-decoration: none;
}
footer{
	height: 65px;
	width: 100%;
	background: #484242;
	border-top: 1px solid #7B7777;
	border-bottom: 1px solid #7B7777;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
footer h4{
	font: 18px 'Pangolin', sans-serif;
	color: #ffffff;
}
@media all and (max-width:750px) {


	header .logo {
		margin-left: 25px;
	}

	header .mob-nav {
		margin-right: 25px;
	}


}
